<style>

</style>

<section class="h-100 h-custom" style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
<div class="empty-cart" style=" width: 60vw;
                                    margin: 0 auto;
                                    text-align: center;
                                    font-weight: 300">

                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row d-flex justify-content-center align-items-center h-100">
                                                <img src="/img/nf.jpg" alt="" class="img-fluid rounded-3">
                                            </div>
                                            
                                            <h5 class="py-1">Quay lại trang chủ để tiếp tục mua sắm</h5>
                                          </div>
                                            <a href="/">
                                                <button type="button" class="btn btn-info btn-block btn-lg">Quay lại trang chủ</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          </section>