<section class="h-100 h-custom" style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <table class="table align-middle mb-0 bg-white">
                <thead class="bg-light">
                    <tr>
                        <th>Orders</th>
                        <th>Customers</th>
                        <th>Address</th>
                        <th>Status</th>
                        <th>Placed at</th>
                        <th>Paid</th>
                    </tr>
                </thead>
                <tbody id="orderTableBody">
                </tbody>
            </table>
        </div>
    </div>
</section>