<!-- <section>
    <form action="/login" method="POST">
        <% if(messages.error) {%> 
            <div><%= messages.error %></div>
            <%} %>
        <div class="">
            <label for="email">Email</label>
            <input type="text" id="email" name="email" >
        </div>
        <div class="">
            <label for="password">Mật khẩu</label>
            <input type="text" id="password" name="password">
        </div>
        <div class="">
            <button>Đăng nhập</button>
            <span><a href="/register">Chưa có tài khoản?</a></span>
        </div>
    </form>
</section> -->
<!-- Section: Design Block -->
<section class="">
    <!-- Jumbotron -->
    <div class="px-4 py-5 px-md-5 text-center text-lg-start vh-100" style="background-color: hsl(0, 0%, 96%)">
        <div class="container">
            <div class="row gx-lg-5 align-items-center">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <h1 class="my-5 display-3 fw-bold ls-tight">
                    The best offer <br />
                    <span class="text-primary">for your business</span>
                    </h1>
                    <p style="color: hsl(217, 10%, 50.8%)">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Eveniet, itaque accusantium odio, soluta, corrupti aliquam
                    quibusdam tempora at cupiditate quis eum maiores libero
                    veritatis? Dicta facilis sint aliquid ipsum atque?
                    </p>
                </div>
    
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="card">
                        <div class="card-body py-5 px-md-5">
                            <form action="/login" method="POST">
                                <% if(messages.error) {%>
                                    <div class="note note-warning mb-3">
                                        <strong>Note warning:</strong> <%= messages.error %>
                                    </div>
                                <%} %>
                                <!-- Email input -->
                                <div class="form-outline mb-4">
                                    <input type="email" id="form3Example3" class="form-control" name="email"/>
                                    <label class="form-label" for="form3Example3">Email</label>
                                </div>
                
                                <!-- Password input -->
                                <div class="form-outline mb-4">
                                    <input type="password" id="form3Example4" class="form-control" name="password"/>
                                    <label class="form-label" for="form3Example4">Mật khẩu</label>
                                </div>

                
                                <!-- Submit button -->
                                <button class="btn btn-primary btn-block mb-4">
                                    Đăng nhập
                                </button>                
                                <!-- Checkbox -->
                                <div class="form-check d-flex justify-content-center mb-4">
                                    <p>Chưa có tài khoản? <a href="/register" class="">Đăng ký ngay</a></p>
                                </div>
            
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Jumbotron -->
</section>
  <!-- Section: Design Block -->